{{- $category := partial "short-list-category" . -}}
<li class="h-entry">
  <div class="post-date" content="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 Jan 2006" }}<br/>
    {{- if $category }}<span class="item-tag category">{{ $category | lower }}</span>{{ end -}}
  </div>
  <div class="microblog">
    {{ .Content }}
    {{ with .Resources.ByType "image" }}
      {{ range first 2 . }}
        {{ $image := .Fill "300x300 Center" }}
        <a href="{{ .Permalink }}" class="glightbox"><img src="{{ $image.Permalink }}" class="microblog-image" /></a>
      {{ end }}
    {{ end }}
  </div>
</li>
