{{ partial "header" . }}

<main>

    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    {{ if .Date }}<h5>{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</h5>{{ end }}
    {{ range .Params.tags }}
    <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}" class="item-tag">{{ . }}</a>
    {{ end }}
    <br> <div class="text-left">{{ .Content }}</div>

    <!-- related posts with the same tags -->
    {{ $related := first 3 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "post") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}

    {{ if $related }}

        <h4 class="page-header">Related</h4>

        {{ range $related }} {{ partial "list-item" . }} {{ end }}

    {{ end }}

    {{ if and .Site.DisqusShortname (not .Params.disableComments) }}

        <h4 class="page-header">Comments</h4>

        {{ template "_internal/disqus.html" . }}

    {{ end }}
    {{ if .Params.hideImages }}{{ else }}
    {{ .Params.type }}
{{ with .Resources.ByType "image" }}
    <div class="Image">
    {{ range . }}
        <a class="image-popup-vertical-fit" href="{{ .RelPermalink }}"><img src="{{ .RelPermalink }}" style="width: 30%"></a>
    {{ end }}
    </div>
{{ end }}
    {{ end }}
    {{ if .Params.lat }}
<img src="https://api.mapbox.com/styles/v1/mapbox/outdoors-v10/static/{{ .Params.lat }},{{ .Params.lng }},14.0,0,0/700x200@2x?access_token=pk.eyJ1Ijoicmlja3ltb29yaG91c2UiLCJhIjoiY2lnemh4eGF1MHc0NDRwbTNteW9sN2p0NyJ9.P_XKTG1fyN2jP_R_G1JMdQ" style="width: 700px;padding: 0 21pt;" />
    {{ end }}
</main>

{{ partial "footer.html" . }}
