{{ partial "header" . }}

<main>

    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <h5>{{ $.Scratch.Get "subtitle" }}</h5>
    {{ range .Params.tags }}
    <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}"><kbd class="item-tag">{{ . }}</kbd></a>
    {{ end }}

    <br> <div class="text-justify">{{ .Content }}</div>

    <!-- related posts with the same tags -->
    {{ $related := first 3 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "post") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}

    {{ if $related }}

        <h4 class="page-header">Related</h4>

        {{ range $related }} {{ partial "list-item" . }} {{ end }}

    {{ end }}

    {{ if and .Site.DisqusShortname (not .Params.disableComments) }}

        <h4 class="page-header">Comments</h4>

        {{ template "_internal/disqus.html" . }}

    {{ end }}
{{ with .Resources.ByType "image" }}
    <div class="Image">
    {{ range . }}
        <a href="{{ .RelPermalink }}"><img src="{{ .RelPermalink }}" style="width: 30%"></a>
    {{ end }}
    </div>
{{ end }}
</main>

{{ partial "footer.html" . }}
