{{ partial "header" . }}
<main class="{{ .Type }} single">
    <article class="h-entry">
    {{ partial "item-header" . }} 
    {{ if .Params.zoom }}
    {{ partial "map" . }}
    {{ end }}
    <div class="text-left e-content">{{ .Content }}</div>

    <!-- related posts with the same tags -->
    {{ $related := first 3 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "post") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}

    {{ if .Params.hideImages }}{{ else }}
    {{ .Params.type }}
        {{ with .Resources.ByType "image" }}
            {{ range . }}
                {{ partial "photo.html" . }}
            {{ end }}
        {{ end }}
    {{ end }}
    <a href="https://rickymoorhouse.uk/" rel="author" class="p-author h-card"></a>
</article>
{{ partial "comments.html" . }}
{{ partial "sidebar.html" . }}
</main>
{{ partial "footer.html" . }}
