{{ partial "header" . }}
<!--<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
-->
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css" rel="stylesheet" />
  
  <style>
        #map {
        height: 100%;
        margin-top: -20px;
        }
        div.page-content {
        position:fixed;
        bottom: 100px;
        margin-top: 1em;
        right: 1em;
        z-index: 999;
        background: white;
        width: 20em;
        padding: 0.5em;
        box-shadow: 1pt 1pt 3pt rgba(0,0,0,0.5);
        }
        @media (prefers-color-scheme: dark) {
          div.page-content {
            background-color: #222;
            color: #ccc;
          }
          .mapboxgl-popup-anchor-left .mapboxgl-popup-tip { border-right-color: #222;}
          .mapboxgl-popup-anchor-right .mapboxgl-popup-tip { border-left-color: #222;}
          .mapboxgl-popup-anchor-top .mapboxgl-popup-tip { border-bottom-color: #222;}
          .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip { border-top-color: #222;}
          .mapboxgl-popup-content {
            background: #222;
            color: #ccc;
          }          
        }

        footer { display: none;}
  </style>
    <div class="site">
.

      <div class="site-content" id="map">
        <span class="mapbox-maplogo"></span>
      </div>
      <!-- site-content -->
        <div class="page-content">
        {{ .Content }}
        </div>
<script type="text/javascript">

document.getElementById('map').style.height=(window.innerHeight-57) + "px";
mapboxgl.accessToken = 'pk.eyJ1Ijoicmlja3ltb29yaG91c2UiLCJhIjoiY2lnemh4eGF1MHc0NDRwbTNteW9sN2p0NyJ9.P_XKTG1fyN2jP_R_G1JMdQ';

var style = 'mapbox://styles/mapbox/light-v10';
if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
  style = 'mapbox://styles/mapbox/dark-v10'
}

var map = new mapboxgl.Map({
  container: 'map', // container id
  style: style, // stylesheet location
  center: [-20, 20], // starting position [lng, lat]
  zoom: 2 // starting zoom
});

map.on('load', function() {
  map.addSource('points', {
    type: 'geojson', 
    data: '{{ .Params.geojson }}',
    cluster: false,
    clusterMaxZoom: 14, // Max zoom to cluster points on
    clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
    })
  map.addLayer({
    id: 'points',
    type: 'circle',
    source: 'points',
    paint: {
      'circle-color': ['get', 'marker-color'],
      'circle-radius': 5,
    }
  });

  var popup = new mapboxgl.Popup({closeButton: true, closeOnClick: true});

  map.on('mouseenter', 'points', function(e) {
    map.getCanvas().style.cursor = 'pointer';
  });
  map.on('click', 'points', function(e) {
    var coordinates = e.features[0].geometry.coordinates.slice();
    var content = ''
    if (e.features[0].properties.url) {
      content = content + '<a href="'+e.features[0].properties.url+'">' + e.features[0].properties.title + '</a>';
    } else {
      content = content + e.features[0].properties.title;
    }
    if (e.features[0].properties.image) {
      content = content + '<br /><img src="' + e.features[0].properties.image + '"/>';
      params = {minWidth: 200, autoPanPaddingTopLeft: 200}
    } else {
      params = {}
    }

  
    // Ensure that if the map is zoomed out such that
    // multiple copies of the feature are visible, the
    // popup appears over the copy being pointed to.
    while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
      coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
    }
  
    popup.setLngLat(coordinates)
      .setHTML(content)
      .addTo(map);
  });
  map.on('mouseleave', 'places', function() {
      map.getCanvas().style.cursor = '';
      popup.remove();
  });
});

(function () {
    'use strict';

    // Your additional js should go there

}());

function insertMap(geojson_url) {
  var map = new mapboxgl.Map({
      container: 'map', // container id
      style: 'mapbox://styles/mapbox/light-v9', //'mapbox://styles/rickymoorhouse/cih6ouins00f3bnm500a1d3dl',
      center: [-53, 20], // starting position
      zoom: 1.5 // starting zoom
  });
  map.on('load', function() {
    map.addSource("visited", {
      type: 'geojson',
      data: geojson_url
    });
    map.addLayer({
       "id": "points",
       "type": "symbol",
       "source": "visited",
       "layout": {
           "icon-image": "star-11",
           //"text-field": "{name}",
           "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
           "text-offset": [0, 0.6],
           "text-anchor": "top"
       }
     });
  });
}

</script>
    </div>
  </body>
</html>
