{{ partial "header" . }}
  <main>
    <div class="site">
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>

    {{ if .Date }}<h5>{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</h5>{{ end }}
    {{ range .Params.tags }}
    <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}"><kbd class="item-tag">{{ . }}</kbd></a>
    {{ end }}
    {{ partial "map" . }}
      <!-- site-content -->
    <br> <div class="text-left">{{ .Content }}</div>
    {{ partial "images" . }}
    </div>
  </main>
{{ partial "footer.html" . }}
