{{- /*
  Renders the site's "elsewhere" links from the `icon` menu in config.yaml.

  Falls back to the menu entry's name when no `title` is supplied.
*/ -}}
<div class="social-links">
  {{- with site.Menus.icon -}}
    {{- range sort . -}}
      <a rel="me noopener noreferrer" href="{{ .URL }}" class="social-link" target="_blank">
        <span class="social-name">{{ with .Params.title }}{{ . }}{{ else }}{{ .Name | humanize | title }}{{ end }}</span>
      </a>
    {{- end -}}
  {{- end -}}
</div>
