{{- $category := partial "short-list-category" . -}}
<li class="h-entry {{ $category | lower }}" property="blogPost" typeof="BlogPosting">
  <div class="post-date" property="datePublished" content="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 Jan 2006" }}<br/>
    <span class="item-tag category">{{ $category | lower }}</span>
  </div>
  <a property="author" style="display: none;" typeof="Person" href="https://rickymoorhouse.uk/#Person" url="https://rickymoorhouse.uk/"><span property="name">Ricky Moorhouse</span></a>
  {{ if .Resources.ByType "image" }}{{ if .Params.featured }}{{ with .Resources.Match .Params.featured }}{{ range first 1 . }}<img property="image" style="display: none" src="{{ .Permalink }}"/>{{ end }}{{ end }}{{ end }}{{ end }}
  <div class="post">
    <a class="u-url" property="url" href="{{ .Permalink }}">
      <span class="post-title" property="headline">{{ .Title }}</span>
    </a>
    {{ if .Params.summary }}<p class="post-summary" property="description">{{ .Summary }}</p>{{ end }}
  </div>
</li>
