<div class="item">

    {{ $.Scratch.Set "link" .RelPermalink }}
    {{ with .Params.repo }}
        {{ $repoHost := default "github" $.Params.repoHost }}
        {{ if eq "github" $repoHost }}
            {{ printf "https://github.com/%s/%s/" $.Site.Params.githubUsername . | $.Scratch.Set "link" }}
        {{ else if eq "gitlab" $repoHost }}
            {{ printf "https://gitlab.com/%s/%s/" $.Site.Params.gitlabUsername . | $.Scratch.Set "link" }}
        {{ else if eq "bitbucket" $repoHost }}
            {{ printf "https://bitbucket.org/%s/%s/" $.Site.Params.bitbucketUsername . | $.Scratch.Set "link" }}
        {{ end }}
    {{ end }}
    {{ with .Params.link }} {{ $.Scratch.Set "link" . }} {{ end }}

    {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") | $.Scratch.Set "subtitle" }}
    {{ with .Description }} {{ $.Scratch.Set "subtitle" . }} {{ end }}
    <div class="header">
        <h4><a href="{{ .Scratch.Get "link" }}">{{ .Title }}</a></h4>
        <div class="tags">
        {{ range .Params.tags }}
        <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}" class="item-tag">{{ . }}</a>
        {{ end }}
        </div>
        <h5>{{ $.Scratch.Get "subtitle" }}</h5>
    </div>
    {{ $.Scratch.Set "images" "False" }}
{{ with .Resources.ByType "image" }}
    <div class="Image">
        {{ range first 1  . }}
        {{ $.Scratch.Set "images" "True" }} 
        {{ $image := .Fill "400x300" }} 
        <a class="image-popup-vertical-fit" href="{{ .RelPermalink }}"><img src="{{ $image.RelPermalink }}"></a><br />
    {{ end }}
    {{ range after 1  . }}
        {{ $.Scratch.Set "images" "True" }} 
        {{ $image := .Fill "80x80" }} 
        <a class="image-popup-vertical-fit" href="{{ .RelPermalink }}"><img src="{{ $image.RelPermalink }}"></a>
    {{ end }}
    </div>
{{ end }}
<div class="text-justify">
    {{ if eq "False" (.Scratch.Get "images") }}
    {{ .Summary }}
    {{ end }}
</div>
</div>
