<article class="item">
  {{ partial "item-header" . }} 
  {{ if or (in .Params.tags "photos") (in .Params.tags "art")}}
    {{ $.Scratch.Set "images" "False" }}
{{ with .Resources.ByType "image" }}
    <div class="Image">
        {{ range first 1  . }}
        {{ $.Scratch.Set "images" "True" }} 
        {{ $image := .Fill "586x586" }} 
        {{ if (isset .Exif.Tags "ImageDescription") }}
        <a class="image-popup-vertical-fit" href="{{ .RelPermalink }}">
        </a>
        <img src="{{ $image.RelPermalink }}" alt="{{ .Exif.Tags.ImageDescription }}">
        {{ else }}
        <a class="image-popup-vertical-fit" href="{{ .RelPermalink }}"><img src="{{ $image.RelPermalink }}" alt="."></a>
        {{ end }}
    {{ end }}
    {{ range after 1  . }}
        {{ $.Scratch.Set "images" "True" }} 
        {{ $image := .Fill "586x586" }} 
        {{ if (isset .Exif.Tags "ImageDescription") }}
        <a class="image-popup-vertical-fit" dhref="{{ .RelPermalink }}"><img src="{{ $image.RelPermalink }}" alt="{{ .Exif.Tags.ImageDescription }}"></a>
        {{ else }}
        <a class="image-popup-vertical-fit" dhref="{{ .RelPermalink }}"><img src="{{ $image.RelPermalink }}" alt="."></a>
        {{ end }}
    {{ end }}
    </div>
    {{ end }}
{{ else }}
  <div class="text-justify">
    {{ .Summary }}
  </div>
{{ end }}
</article>
