<div class="item">
    {{ partial "item-header" . }} 
    {{ $.Scratch.Set "images" "False" }}
{{ with .Resources.ByType "image" }}
    <div class="Image">
        {{ range first 1  . }}
        {{ $.Scratch.Set "images" "True" }} 
        {{ $image := .Fill "400x300" }} 
        <a class="image-popup-vertical-fit" href="{{ .RelPermalink }}"><img src="{{ $image.RelPermalink }}"></a><br />
    {{ end }}
    {{ range after 1  . }}
        {{ $.Scratch.Set "images" "True" }} 
        {{ $image := .Fill "80x80" }} 
        <a class="image-popup-vertical-fit" href="{{ .RelPermalink }}"><img src="{{ $image.RelPermalink }}"></a>
    {{ end }}
    </div>
{{ end }}
<div class="text-justify">
    {{ if eq "False" (.Scratch.Get "images") }}
    {{ .Summary }}
    {{ end }}
</div>
</div>
