<aside id="sidebar">
{{ if .Params.lat }}
<p>
    <img src="https://api.mapbox.com/styles/v1/mapbox/outdoors-v10/static/pin-s+869ba0({{ .Params.lng }},{{ .Params.lat }})/{{ .Params.lng }},{{ .Params.lat }},13.0,0,0/350x200@2x?access_token=pk.eyJ1Ijoicmlja3ltb29yaG91c2UiLCJhIjoiY2lnemh4eGF1MHc0NDRwbTNteW9sN2p0NyJ9.P_XKTG1fyN2jP_R_G1JMdQ" style="width: 350px;" />
</p>
{{ end }}

{{ if .IsTranslated }}
<h4>{{ i18n "translations" }}</h4>
<ul>
    {{ range .Translations }}
    <li>
        <i class="fab fa-{{ .Language }}"></i>
        <a href="{{ .Permalink }}">{{ .Language }}: {{ .Title }}</a>
    </li>
    {{ end }}
</ul>
{{ end }}

{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<h4>{{ i18n "seeAlso" }}</h4>
<ul>
	{{ range . }}
	<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
	{{ end }}
</ul>
{{ end }}

<div class="tagcloud">
    {{ range .Site.Taxonomies.tags }}
        {{ if and (gt .Count 1) (ne .Page.Title "abi") (ne .Page.Title "jessica") (ne .Page.Title "photos") }}
            <a class="item-tag" title="{{ .Count }}" style="font-size:1{{ .Count }}pt" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
        {{ end }}
    {{ end }}
</div>

</aside>
