<script src="{{ "js/glightbox.min.js" | relURL }}"></script>
<link rel="stylesheet" type="text/css" href="{{ "css/glightbox.css" | relURL }}" media="all">
<script type="text/javascript">
  const lightbox = GLightbox({
    touchNavigation: true,
    loop: true,
    autoplayVideos: true,
    svg: {
        prev: '<svg class="icon" viewBox="0 0 7 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M4.928,1.34c-0,0 -0.793,1.484 -0.788,2.029c0.004,0.544 0.78,2.129 0.78,2.129l-2.923,-2.118l2.931,-2.04Z" style="fill:#098;"/></svg>',
        next: '<svg class="icon" viewBox="0 0 7 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M1.997,1.34c0,0 0.793,1.484 0.788,2.029c-0.004,0.544 -0.779,2.129 -0.779,2.129l2.922,-2.118l-2.931,-2.04Z" style="fill:#098;"/></svg>'
    }
});
</script>        <footer>
            <p class="copyright">{{ .Site.Params.copyright | default "&copy; All rights reserved." | markdownify }}</p>
        </footer>
    </body>
</html>
