<p><a class="contact" href="https://letterbird.co/rickymoorhouse">
    <svg class="icon" viewBox="0 0 5 4" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="vertical-align: middle">
        <g transform="matrix(0.106667,0,0,0.106667,-1.07255,-1.53704)">
            <g transform="matrix(1,0,0,1,1,1)">
                <path d="M11.138,15.55L50.915,15.493L51.075,47.178L11.159,47.112L11.138,15.55ZM50.069,15.535L11.92,15.565C11.92,15.565 26.826,31.66 31.93,31.705C37.035,31.75 50.069,15.535 50.069,15.535Z" style="fill:none;stroke:rgb(0,153,136);stroke-width:4.17px;"/>
            </g>
        </g>
    </svg>
    Contact me</a>
</p>