<style>

    :root {
        --header: {{ .Site.Params.header | default "#354F52" }};
        --primary: {{ .Site.Params.primary | default "#2196F3" }};
        --secondary: {{ .Site.Params.secondary | default "#2196F3" }};
        --tertiary: {{ .Site.Params.tertiary | default "#2196F3" }};
        --border-width: {{ if .Site.Params.showBorder | default false }} 5px {{ else }} 0 {{ end }};
    }
</style>

<!-- main -->
<link rel="stylesheet" type="text/css" href="{{ "css/main.css" | relURL }}?i=008" media="all">
<link href="https://fonts.bunny.net/css2?family=IBM+Plex+Sans:wght@400&display=swap" rel="stylesheet">
<link href="https://fonts.bunny.net/css2?family=IBM+Plex+Serif:wght@400&display=swap" rel="stylesheet">
<link href="https://fonts.bunny.net/css2?family=Space+Grotesk:wght@300&display=swap" rel="stylesheet">
<!-- custom -->
{{ range .Site.Params.css }} <link rel="stylesheet" href="{{ . | relURL }}"> {{ end }}
