
{{ $.Scratch.Set "link" .RelPermalink }}
{{ with .Params.link }} {{ $.Scratch.Set "link" . }} {{ end }}
{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") | $.Scratch.Set "subtitle" }}
{{ with .Description }} {{ $.Scratch.Set "subtitle" . }} {{ end }}
{{ if eq "event" .Params.layout }}
<h4 class="p-name">{{ .Title }}</h4>
<h5>
    <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ $.Scratch.Get "subtitle" }}</time>
    {{ if .Params.end }}
    - <time>{{.Params.end | dateFormat (.Site.Params.dateFormat | default "January 2, 2006") }}</time>
    {{ end}}

</h5>

{{ else }}
    {{ if .Params.link }}
        <h4 class="external">
            <a class="external" href="{{ .Scratch.Get "link" }}">{{ .Title }}</a>
        </h4>
    {{ else }}
        {{ if eq "single" ($.Scratch.Get "template") }}
            <h1 class="p-name"><a href="{{ .Scratch.Get "link" }}" class="u-url">{{ .Title }}</a></h1>
        {{ else }}
            <h4 class="p-name"><a href="{{ .Scratch.Get "link" }}" class="u-url">{{ .Title }}</a></h4>
        {{ end }}
    {{ end }}
    {{ if ne .Type "page" }}
    {{ if eq "1 Jan 0001" ($.Scratch.Get "subtitle") }}&nbsp;{{ else }}
    <h5>
        <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ $.Scratch.Get "subtitle" }}</time>
        {{- if compare.Gt .Lastmod .Date -}}
        <h4 class="subtitle ml-2">
            Last updated <time datetime="{{ .Lastmod }}">{{ .Lastmod | time.Format ":date_medium" }}</time>
        </h4>
        {{- end -}}    
        <div class="tags">
            {{ range .Params.tags }}
            <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}" class="item-tag p-category tag-{{ . }}">{{ . }}</a>
            {{ end }}
        </div>
    </h5>
    {{ end }}{{ end }}
{{ end }}
