{{ $title := .Title}}
{{ $link := .RelPermalink}}
{{ $date := .Date.Format "2 Jan 2006"}}
{{ with .Resources.Match .Params.featured }}
  {{ range first 1 . }}
    {{ $.Scratch.Set "images" "True" }} 
    {{ $image := .Fill "586x586" }}
    {{ if reflect.IsImageResourceWithMeta . }}
      {{ with .Meta }}
        {{ with .Exif }}
        {{ if (.Tags.ImageDescription) }}
          {{ $title = .Tags.ImageDescription}}
        {{ end }}
        {{ if (.Tags.DateTimeOriginal) }}
          {{ $date = .DateTimeOriginal.Format "2 Jan 2006" }}
        {{ end }}
      {{ end }} 
     {{ end }}
    {{ end }}
    <a href="{{ $link }}">
        <div class="photo-album-wrapper">
            <img src="{{ .RelPermalink }}" />
            <div class="photo-overlay">
            <p>{{ $title }} <br /><span class="post-date">{{ $date }}</span></p>
            </div>
        </div>
    </a>
    {{ end }}  
{{ end }}
    {{ with .Resources.ByType "image" }}
      {{ range (after 1  .) }}
        {{ if reflect.IsImageResourceWithMeta . }}
          {{ with .Meta }}
            {{ with .Exif }}
            {{ if (.Tags.ImageDescription) }}
            {{ $title = .Tags.ImageDescription}}
            {{ end }}
          {{ end }}
          {{ end }}
        {{ end}}  
        <a class="glightbox" data-title="{{ $title }}" href="{{ .RelPermalink }}"></a>
      {{ end }}
    {{ end }}
