
<div class="Image"><figure>
    <a class="glightbox" href="{{ .RelPermalink }}" data-description="{{- if reflect.IsImageResourceWithMeta . }}
{{- with .Meta }}{{- with .Exif }}{{ .ImageDescription }}{{ end }}{{ end }}
{{ end }}
">
        {{ $image := .Fill "400x400 center" }}
            <img src="{{ $image.RelPermalink }}" alt="{{- if reflect.IsImageResourceWithMeta . }}
{{- with .Meta }}{{- with .Exif }}{{ .ImageDescription }}{{ end }}{{ end }}
{{ end }}">
    </a>
    <figcaption>
    {{ if reflect.IsImageResourceWithMeta . }}
    {{ with .Meta }}{{ with .Exif }}{{ .ImageDescription }}{{ end }}{{ end }}
    {{ end }}
    </figcaption>
 </figure>
</div>
