{{ define "main" }}
<aside class="flight" itemscope itemtype="https://schema.org/Flight">
<h5>
    <time
        datetime="{{ if .Params.date }}{{ .Params.date | dateFormat "2006-01-02" }}{{ end }}"
        itemprop="departureTime"
    >
        {{ if .Params.date }}{{ .Params.date | dateFormat .Site.Params.dateFormat }}{{ end }}
    </time>
</h5>

<div class="flight-summary">
{{ if .Params.flights }}
    {{ range .Params.flights }}
        {{ if .airport }}
        <div class="airport">
        {{ .label }}<br />
        <strong>{{ .airport }}</strong><br />
        {{ if .arrive }}{{ .arrive | dateFormat "15:04" }}{{ if .depart }} - {{ end }}{{ end }}
        {{ if .depart }}{{ .depart | dateFormat "15:04" }}{{ end }}
        </div>
        {{ else if .flight}}
        <div class="plane">
            <a title="{{ .aircraft }}">&#x2708;</a><br />
            <small>
                <span itemprop="airline">{{ .airline }}</span> 
                <span itemprop="flightNumber">{{ .flight }}</span>
            </small>
        </div>    
        {{ end }}
    {{ end }}
{{ else }}
<div class="from airport">
    from<br />
    <strong>{{ .Params.from }}</strong><br />
    {{ if .Params.depart }}{{ .Params.depart | dateFormat "15:04" }}{{ end}}
</div>
<div class="plane">
    <a title="{{ .Params.aircraft }}">&#x2708;</a><br />
    <small>
        <span itemprop="airline">{{ .Params.airline }}</span> 
        <span itemprop="flightNumber">{{ .Params.flight }}</span>
    </small>
</div>
{{ if .Params.via }}
<div class="via airport">
    via<br />
    <strong>{{ .Params.via.airport }}</strong><br />
    {{ if .Params.via.arrive }} {{ .Params.via.arrive | dateFormat "15:04" }}{{ end }} - 
    {{ if .Params.via.depart }} {{ .Params.via.depart | dateFormat "15:04" }}{{ end }}
</div>
<div class="plane">
    <a title="{{ .Params.aircraft }}">&#x2708;</a><br />
    <small>
        <span itemprop="airline">{{ .Params.airline }}</span> 
        <span itemprop="flightNumber">{{ .Params.flight }}</span>
    </small>
</div>
{{ end }}
<div class="to airport">
    to<br />
    <strong>{{ .Params.to }}</strong><br />
    {{ if .Params.arrive }} {{ .Params.arrive | dateFormat "15:04" }}{{ end }}
</div>
<p class="clear">
    <strong itemprop="name">{{ .Title }}</strong>
    {{ .Summary }}
</p>
{{ end }}
</aside>
{{ end }}
