{{ partial "header" . }}
<main class="{{ .Type }}">
    <section class="photo-list">
    <article>
    {{ partial "item-header" . }} 
    <br> <div class="text-left">{{ .Content }}</div>

    {{ with .Resources.ByType "image" }}
      {{ range . }}
        {{ $title := "" }}
        {{ $exif_stats := "" }}
        {{ if reflect.IsImageResourceWithMeta . }}
          {{ with .Meta }}
            {{ with .Exif }}
              {{ $title = .Tags.ImageDescription }}
              {{ $exif_stats = printf "%s | %dmm | %ss" .Model .FocalLengthIn35mmFormat .ExposureTime }}
              {{ $date := .Date.Format "2 Jan 2006 15:04" }}
            {{ end }}
          {{ end}}
        {{ end}}
        <a class="glightbox" data-title="$title" href="{{ .RelPermalink }}">
            <div class="photo-image-wrapper">
                <img src="{{ .RelPermalink }}" />
                <div class="photo-overlay">
                <p>{{ $title }}{{ with $exif_stats }}<br /><span class="post-date">{{ . }}</span>{{ end }}</p>
                </div>
            </div>
        </a>
      {{ end }}
    {{ end }}        
</article>
</main>
<script src="{{ "js/glightbox.min.js" | absURL }}"></script>
<link rel="stylesheet" type="text/css" href="{{ "css/glightbox.min.css" | absURL }}" media="all">
<script type="text/javascript">
  const lightbox = GLightbox({
    touchNavigation: true,
    loop: true,
    autoplayVideos: true
});
</script>

{{ partial "footer.html" . }}
