{{ partial "header" . }}
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
 
  <style>
    html body {text-align: left;}
        #map {
        height: 100%;
        margin-top: -20px;
        }
        div.page-content {
        position:fixed;
        bottom: 100px;
        margin-top: 1em;
        right: 1em;
        z-index: 999;
        background: white;
        width: 20em;
        padding: 0.5em;
        box-shadow: 1pt 1pt 3pt rgba(0,0,0,0.5);
        }
        footer { display: none;}
    .mapboxgl-popup-content h1 {
    font-size: 1em; 
    }
  </style>
    <div class="site">
      <div class="site-content" id="map">
        <span class="mapbox-maplogo"></span>
      </div>
      <!-- site-content -->
        <div class="page-content">
        Places I've visited
{{ .Content }}
        </div>
<script>

document.getElementById('map').style.height=(window.innerHeight-110) + "px";
mapboxgl.accessToken = 'pk.eyJ1Ijoicmlja3ltb29yaG91c2UiLCJhIjoiY2lnemh4eGF1MHc0NDRwbTNteW9sN2p0NyJ9.P_XKTG1fyN2jP_R_G1JMdQ';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/outdoors-v9',
    //style: 'mapbox://styles/rickymoorhouse/cjgcnlkka4ho22ro1t850ihf4',
    center: [-53, 20],
    zoom: 1.5
});

map.on('load', function () {

    map.addLayer({
        "id": "places",
        "type": "circle",
        "source": {
            "type": "geojson",
            "data": {
                "type": "FeatureCollection",
                "features": [
    {{ range .Pages }}
                {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [{{ .Params.lng }}, {{ .Params.lat }}]
                    },
                    "properties": {
                        "title": "{{ .Title }}",
                        "description": "{{ .Content }}"
                    }
                },
    {{ end }}
 {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [-122.414, 37.776]
                    },
                    "properties": {
                        "title": "Mapbox SF",
                        "icon": "harbor"
                    }
                }]
            }
        },
        "paint": {
          'circle-radius': 7,
          'circle-opacity': 0.8,
          'circle-color': 'rgb(231, 0, 314)'
        }
    //    "layout": {
    //        "icon-image": "{icon}-11",
    //        "text-field": "{title}",
    //        "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
    //        "text-offset": [0, 0.6],
    //        "text-anchor": "top"
    //    }
    });
    map.on('click', 'places', function (e) {
        var coordinates = e.features[0].geometry.coordinates.slice();
        var description = e.features[0].properties.description;

        // Ensure that if the map is zoomed out such that multiple
        // copies of the feature are visible, the popup appears
        // over the copy being pointed to.
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }

        new mapboxgl.Popup()
            .setLngLat(coordinates)
            .setHTML(description)
            .addTo(map);
    });

    // Change the cursor to a pointer when the mouse is over the places layer.
    map.on('mouseenter', 'places', function () {
        map.getCanvas().style.cursor = 'pointer';
    });

    // Change it back to a pointer when it leaves.
    map.on('mouseleave', 'places', function () {
        map.getCanvas().style.cursor = '';
    });

});
</script>
    </div>


</div>


{{ partial "footer" . }}
