
:root {
    --primary: #009988;
}
body {
    margin: 0px;

}
html {
    font-family: "IBM Plex Sans", sans-serif;
    font-display: swap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: calc(100% - 5pt);
    border-top: 5pt solid var(--primary);

}

@media (prefers-color-scheme: dark) {
    html body {
      background-color: #222522;
      color: #ccc;
    }
    :root {
        --primary: #009988;
        --secondary: #c60;
        --link: #ccddff;
        --callout-bg: #222;
        --callout-fg: #ccc;
    }

}
@media (prefers-color-scheme: light) {
    :root {
        --primary: #009988;
        --secondary: #dd8800;        
        --link: #006699;
        --callout-bg: rgba(255,255,255,0.8);
        --callout-fg: #222;
    }
    div.side {
      background-color: rgba(255,255,255,0.8);
    }
}

a {
    color: var(--link);
}
a:hover, a:active {
    color: var(--secondary);
}

@media screen and (max-width: 1000px) {
    /* Smaller screen */
    div.side, main {
        margin: 8pt;
    }
    div.side {
        position: inherit;
        width: calc(100vw - 16pt);
        text-align: center;
    }

    svg#logo {
        width: 30vw;
        margin: 0 auto;
    }
    html div.side h1 {
        margin-top: -20pt;
        color: var(--primary)
    }
}
@media screen and (min-width: 1000px) {
    /* Larger screen */
    div.side {
        position: fixed;
        width: 24vw;
        padding: 16pt 0 16pt 1vw;
        margin: 0;
        text-align: center;
        z-index: 9999;
    }
    main {
        padding: 16pt;
        margin: 0 0 0 25vw;
        border: 1px rgba(0,0,0,0.5) dotted ;
    }
    main p {
        max-width: 60rem;
    }
    div.side h1 {
        font-size: 30pt;
        line-height: 40pt;
    }    
    svg#logo {
        width: 100%;
        max-width: 230px;
    }
}

main.photos article.item {
    width: 210pt;
    height: 310pt;
    float: left;
    clear: none;
    overflow: hidden;
    margin: 0 16pt 16pt 0;
    padding: 3pt;
  }
div.side ul {
    margin: 10pt 0 0 0;
    padding: 0;
}
div.side li {
    list-style: none;
    display: inline;
    padding: 0 1em 0 0;
}
main {
    min-height: calc(100vh - 80pt);
}
main img {
    width: auto;
   /*max-width: 95%;*/
    height: auto;
    margin: 0 auto;
}
main.photos img {
    max-width: 100%;
}
html div.side h1 a { color: var(--primary)}
a.external::before { content: "\279a"; text-decoration: none;}
div.side a {text-decoration: none;}
h1 {
    font-size: 30pt;
    line-height: 40pt;
}
h2, div.side h1 {
    line-height: 30pt;
    margin: 0;
    padding: 0;
    color: var(--primary);
}
article h2 {
    font-size: 18pt;
    line-height: 20pt;
}
h1, h2, h3, h4, h5 {
    font-weight: 400;
}
h1 a:any-link,h2 a:any-link,h3 a:any-link, h4 a:any-link {
    text-decoration: none;
    color: var(--primary);
}
h3 {
    font-size: 18pt;
    line-height: 20pt;
    color: var(--primary);
}

h4 {
    font-size: 18pt;
    line-height: 20pt;
}

p {
    font-size: 12pt;
    line-height: 20pt;
} 

blockquote {
    border-left: 3pt solid var(--primary);
    padding-left: 1em;
}

footer {
    display: block;
    width: 100%;
    border-bottom: 5pt solid var(--primary);
}
footer p.copyright {
    font-size: 10pt;
    margin: 5pt;
    text-align: center;
}

svg.icon {
    width: 32pt;
    height: 32pt;
}
div.pages {text-align: center;}
.pages a {display: inline-block;width: 30%;}

a.contact {
text-decoration: none;
color: var(--primary);
font-weight: bold;
}

main .Image {
    display: inline-block;
    vertical-align: top;
}
.Image figure {
    margin: 5pt;
}
main .Image img {
    width: 200pt;
    height: 200pt;
}
p {
    clear: both;
}

/* Headers */
h4.p-name {
    margin-bottom: 0;
}
h5 {padding:0;margin: 5pt 0 15pt 0;}
h5 div.tags {display: inline;}
div.tags::before {content: " - Tags: "}
a.item-tag {
    background: var(--secondary);
    color: var(--callout-bg);
    text-decoration: none;
    display: inline-block;
    padding:.25em.75em;
    margin:.10em;
    border-radius: 20em;
}
a.item-tag:hover {
    background: var(--link);
    color: var(--callout-bg);
}
.photos table.exif {
    float: left;
    padding: 0 3em;
}
.Image a {
    position: relative;
    top: -205pt;
}
.Image a img {
    rotate: 5deg;
    opacity: .5;
}
.Image a:first-child { top: 0; z-index: 100}
.Image a:first-child img{ rotate: 0deg;opacity: 1;}

@media screen and (max-width: 500px) {
    main.photos article.item,
    main.photos article.item img{
        width: 100%;
        height: auto;
      }
    main.photos article.item .Image a {
        position: relative;
        top: calc(16pt - 100vw);
    }
    main.photos article.item .Image a:first-child {
        position: relative;
        top: 0;
    }
    main.photos article.item {
        height: 410pt;
        float: left;
        clear: none;
        overflow: hidden;
        margin: 0 16pt 16pt 0;
        padding: 3pt;
      }    

}

/* Glightbox */
#glightbox-body .glightbox-clean .gslide-description { background: #000; color: #eee;}