
:root {
    --primary: #009988;
}
body {
    margin: 0px;

}
html {
    font-family: "IBM Plex Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: calc(100% - 5pt);
    overflow-y: hidden;
    border-top: 5pt solid var(--primary);

}

@media (prefers-color-scheme: dark) {
    html body {
      background-color: #222522;
      color: #ccc;
    }
    a {
        color: #cdf;
    }
    :root {
        --primary: #009988;
        --callout-bg: #222;
        --callout-fg: #ccc;
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --primary: #009988;
        --callout-bg: rgba(255,255,255,0.8);
        --callout-fg: #222;
    }
    div.side {
      background-color: rgba(255,255,255,0.8);
    }
}

@media screen and (max-width: 1000px) {
    /* Smaller screen */
    div.side, main {
        margin: 8pt;
    }
    div.side {
        position: inherit;
        width: calc(100vw - 16pt);
        text-align: center;
    }

    svg#logo {
        width: 30vw;
        margin: 0 auto;
    }
    html div.side h1 {
        margin-top: -20pt;
        color: var(--primary)
    }
    main img {
        opacity: 0.6;
    }
}
@media screen and (min-width: 1000px) {
    /* Larger screen */
    div.side {
        position: fixed;
        width: 24vw;
        padding: 16pt 0 16pt 1vw;
        margin: 0;
        text-align: center;
        z-index: 9999;
    }
    main {
        padding: 16pt;
        margin: 0 0 0 25vw;
        border: 1px rgba(0,0,0,0.5) dotted ;
    }
    main p {
        max-width: 60rem;
    }
    div.side h1 {
        font-size: 30pt;
        line-height: 40pt;
    }    
    svg#logo {
        width: 100%;
        max-width: 230px;
    }
    main.photos article.item {
        width: 293px;
        height: 356px;
        float: left;
        clear: none;
        overflow: hidden;
        margin: 0 16pt 16pt 0;
        padding: 3pt;
      }
}

div.side ul {
    margin: 10pt 0 0 0;
    padding: 0;
}
div.side li {
    list-style: none;
    display: inline;
    padding: 0 1em 0 0;
}
main {
    min-height: calc(100vh - 80pt);
}
main img {
    width: 95%;
    margin: 0 auto;
}
main.photos img {
    width: 100%;
}
html div.side h1 a { color: var(--primary)}
a.external::before { content: "\279a"; text-decoration: none;}
div.side a {text-decoration: none;}
h1 {
    font-size: 30pt;
    line-height: 40pt;
}
h2, div.side h1 {
    line-height: 30pt;
    margin: 0;
    padding: 0;
    color: var(--primary);
}
article h2 {
    font-size: 18pt;
    line-height: 20pt;
}
h1, h2, h3, h4, h5 {
    font-weight: 400;
}
h1 a:link,h2 a:link,h3 a:visited, h4 a:link {
    text-decoration: none;
    color: var(--primary);
}
h3 {
    font-size: 18pt;
    line-height: 20pt;
    color: var(--primary);
}

h4 {
    font-size: 18pt;
    line-height: 20pt;
}

p {
    font-size: 14pt;
    line-height: 20pt;
}


footer {
    display: block;
    width: 100%;
    border-bottom: 5pt solid var(--primary);
}
footer p.copyright {
    font-size: 10pt;
    margin: 5pt;
    text-align: center;
}

svg.icon {
    width: 32pt;
    height: 32pt;
}
div.pages {text-align: center;}
.pages a {display: inline-block;width: 30%;}
